# Core
robotframework==7.0

# API
robotframework-requests==0.9.7
requests==2.32.3

# Mobile
robotframework-appiumlibrary==2.1.0

# Data
robotframework-faker==5.0.0

# Reports
allure-robotframework==2.13.5